myenv
__pycache__
*.pyc
.git
.gitignore
docker-compose.yml
Dockerfile
.env
docker-compose.local.yml
text.txt



#Neden?
#Çünkü docker build . dediğimizde bütün klasörü image içine kopyalamasın, gereksiz dosyalar ve myenv içeriği gitmesin.