version: "3.9"

services:
  db:
    image: postgres:16
    container_name: zenan_postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  django:
    build:
      context: .
      dockerfile: Dockerfile.django
    container_name: zenan_django
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"

  fastapi:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    container_name: zenan_fastapi
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8001:8001"

  nginx:
    image: nginx:latest
    container_name: zenan_nginx
    restart: always
    depends_on:
      - django
      - fastapi
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./staticfiles:/app/staticfiles

volumes:
  postgres_data:
